tbody > tr > th:first-child{
    border-right: 1px solid var(--bs-border-color);
    text-align: center;
}

tr.oddWeek > td{
    background-color: var(--bs-table-striped-bg);
}

td{
    display: table-cell;
    vertical-align: middle;
    unicode-bidi: isolate;
    border: 1px solid var(--bs-border-color);
}

p{
    display: block;
}

thead > tr > th{
    text-align: center;
}

tbody > tr > td{
    text-align: center;
}