---
import Section from '../components/Section.astro';
import SubSection from '../components/SubSection.astro';
import Searchbar from '../components/Searchbar.astro';
import Image from '../components/Image.astro';
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
import Layout from '../layouts/Layout.astro';
import DisplayTable from '../components/DisplayTable.astro';
---

<style>
    ul a{
        color: var(--bs-text-color);
		transition: font-size linear .2s;
    }

	ul a:hover{
		color: var(--altgeld-orange);
	}

	#ref-pages-ad{
		transition: all linear .2s;
	}

	@media(width >= 768px){
		ul a:hover{
			transform: scale(1.05);
			font-size: 1.17rem;
		}
	}

	@media(width >= 992px){
		#ref-pages-ad:hover{
			transform: scale(1.05);
			margin-left: .5rem;
			margin-bottom: .5rem;
		}
	}

	div.grid{
		display: grid;
		grid-template-columns: repeat(auto-fit, 230px);
		grid-auto-rows: 1fr;
		gap: 1rem;
	}

	.main-cards{
		padding: .5rem;
		width: 100%;
		background-color: #f0f0d0;
		border: 2px solid var(--bs-border-color); 
		border-radius: 10px;
		text-decoration: none;
		color: black;
		transition: all linear .1s;
	}

	.main-cards:hover{
		transform: scale(1.05);
		margin-bottom: .5rem;
	}

	.main-cards img{
		height: calc(230px - 1rem);
		display: block;
		object-fit: contain;
		width: 100%;
	}
</style>

<Layout title="TAM 251 - Fall 24">
    <p>Welcome! This is the official course website for TAM 251 at UIUC in Fall 2024.</p>

    
	<SubSection id="assignments" title="Graded assignments">
	
	<div class="d-flex justify-content-between">
		<p class="mb-0">This course uses the following resources as part of your grade:</p>
		<div class="form-check form-switch">
			
			<input class="form-check-input simp-btn" type="checkbox" role="switch" onchange="toggle_simplified_view(this);">
			<label class="form-check-label" style="text-wrap: nowrap;">Simplified view:</label>
		</div>
	</div>

	
	<div class="grid card-grid-fancy">
		<a class="main-cards" href="https://join.iclicker.com/KSBG">
			<img src="/public/iclicker.png" alt="iClicker Logo" >
			<p class="fw-bold text-center m-0">iClicker</p>
			<p class="text-center m-0">For attendance and class participation</p>
		</a>
		<a class="main-cards" href="https://us.prairielearn.com">
			<img src="/public/pl.png" alt="PrairieLearn Logo" style="background-color: #052c65; padding: .5rem; border-radius: .5rem;">
			<p class="fw-bold text-center m-0">PrairieLearn</p>
			<p class="text-center m-0">Homeworks and labs</p>
		</a>
		<a class="main-cards" href="https://us.prairietest.com">
			<img src="/public/prairietest.ico" alt="PrairieTest Logo" style="background-color: #fff; padding: .5rem; border-radius: .5rem;">
			<p class="fw-bold text-center m-0">PrairieTest</p>
			<p class="text-center m-0">Register for quizzes</p>
		</a>
		<a class="main-cards" href="https://canvas.illinois.edu/courses/50000/gradebook">
			<img src="/public/blocki2.png" alt="Illinois Canvas Logo" style="background-color: #fff; padding: .5rem; border-radius: .5rem;">
			<p class="fw-bold text-center m-0">Canvas</p>
			<p class="text-center m-0">Course gradebook</p>
		</a>
	</div>

	<ul class="mt-0 card-grid-simple">
        <li><a href="https://join.iclicker.com/KSBG">iClicker for attendance and class participation</a></li>
        <li><a href="https://us.prairielearn.com">Homework problems on PrairieLearn </a></li>
        <li><a href="https://us.prairietest.com/">Register for quizzes at&nbsp;CBTF (Computer-Based Testing Facility) via PrairieTest</a>
        <ul>
            <li><a href="https://www.prairietest.org">&#8203;</a><a href="http://mechref.engr.illinois.edu/pol/pltips.html">PrairieLearn/CBTF Tips</a></li>
        </ul>
		<li><a href="https://canvas.illinois.edu/courses/50000/gradebook">Access the gradebook on the course Canvas page</a></li>
        </li>
    </ul>

	</SubSection>
	<SubSection id="resources" title="Course material & helpful resources">

	<div class="d-flex justify-content-between mt-3">
		<p class="mb-0">The following links provide access to resources meant to help you succeed in the course, as well as the material covered in class.</p>
		<div class="form-check form-switch">
				
			<input class="form-check-input simp-btn" type="checkbox" role="switch" onchange="toggle_simplified_view(this);">
			<label class="form-check-label" style="text-wrap: nowrap;">Simplified view:</label>
		</div>
	</div>
	<div class="grid card-grid-fancy">
		<a class="main-cards" href="https://campuswire.com/p/GF62988DA">
			<img src="/public/campuswire.ico" alt="Campuswire logo" style="background-color: #fff;">
			<p class="fw-bold text-center m-0">Campuswire</p>
			<p class="text-center m-0">Course forum</p>
		</a>
		<a class="main-cards" href="https://uofi.box.com/s/g7kf5pmo01pf7yuqfq07wfqppuzcqh76">
			<img src="/public/box.png" alt="Box Logo" style=" border-radius: .5rem;">
			<p class="fw-bold text-center m-0">Box</p>
			<p class="text-center m-0">Lecture notes</p>
		</a>
		<a class="main-cards" href="https://mediaspace.illinois.edu/channel/TAM+251+Fall+2024/352535182">
			<img src="/public/blocki2.png" alt="Illinois Mediaspace Logo" style="background-color: #fff; padding: .5rem; border-radius: .5rem;">
			<p class="fw-bold text-center m-0">Illinois Mediaspace</p>
			<p class="text-center m-0">Lecture recordings</p>
		</a>
	</div>

    <ul class="mt-0 card-grid-simple">
        <li><a href="https://campuswire.com/p/GF62988DA">Discussion forum on Campuswire&nbsp;</a>(group code: 8823)</li>
        <li><a href="https://uofi.box.com/s/g7kf5pmo01pf7yuqfq07wfqppuzcqh76"><u>Lecture Notes</u></a></li>
        <li><u><a href="https://mediaspace.illinois.edu/channel/TAM+251+Fall+2024/352535182"><u>Lecture Recordings&#8203;</u></a>&#8203;</u></li>
    </ul>

	<div class="d-flex flex-column flex-lg-row flex-fill mt-3">
		<p class="flex-grow pe-0 pe-lg-2">Access the course reference pages, a free and interactive short-form textbook designed at Illinois, at this link:</p>
		<a href="https://mechref.org/sol" class="text-black text-decoration-none" id="ref-pages-ad">
			<div class="d-flex align-items-center flex-column" style="border: 2px solid var(--bs-border-color); border-radius: 10px; overflow: hidden;">
				<div class="d-flex flex-row">
					<img src="/image.png" class="d-block" alt="Reference page animation example" style="border: 2px solid white" height="300">
					<img src="/image2.png" class="d-none d-md-block" alt="Reference page animation example" style="border: 2px solid white; " height="300">
				</div>
				
				<p class="fw-bold m-0 text-body">Click here!</p>
			</div>
		</a>
		
		
	</div>
	
    
    <p class="mt-3">Please fill out the <a href="https://forms.office.com/r/e8whXc37An" class="themed-text fw-bold"> Excused Absence Requests for TAM 251 HERE</a>.</p>

	</SubSection>
	<SubSection id="calendar" title="TAM 251 Course Organization">

    <p><em>This is a living document providing the general structure of the course: All assessments subject to change.</em></p>

<p>Due dates and testing periods for assessments and evaluations can be found on the <a href="sched.html">schedule page</a></p>

<DisplayTable class_="table table-striped" id="info-to">
	<thead>
		<tr>
			<th scope="col" style="width: 15%">
			<p>Unit</p>
			</th>
			<th scope="col" style="width: 40%">
			<p>Topics</p>
			</th>
			<th scope="col" style="width: 20%">
			<p>Assessments</p>
			</th>
			<th scope="col" style="width: 25%">
			<p>Evaluations</p>
			</th>
		</tr>
    </thead>
    <tbody>
		<tr>
			<th>
			<p><em>1: Stress, Strain</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Equilibrium and Stress</li>
				<li>Normal and Shear Stresses</li>
				<li>Allowable Stress Design</li>
				<li>Strain</li>
			</ul>
			</td>
			<td>
			<p>Homework 1 and 2</p>
			</td>
			<td>
			<p>Quiz 1</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>2: Material Properties, and Axial Loading</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Stress-Strain Diagram</li>
				<li>Deformations under Axial Loading</li>
				<li>Statically Indeterminate Structures</li>
				<li>Temperature Effects</li>
				<li>Misfit Problems</li>
			</ul>
			</td>
			<td>
			<p>Homework 3 and 4</p>
			</td>
			<td>
			<p>Quiz 2</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>3: Torsion</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Torsion</li>
				<li>Torque-Displacement Relation</li>
				<li>Indeterminate Shafts</li>
			</ul>
			</td>
			<td>
			<p>Homework 5 and 6</p>
			</td>
			<td>
			<p>Quiz 3</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>4: Beams in Bending</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>SF and BM Diagrams</li>
				<li>Beams in Bending - Normal Stress</li>
				<li>Composite Beams</li>
			</ul>
			</td>
			<td>
			<p>Homework 7</p>
			</td>
			<td>
			<p>Quiz 4</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>5: Transverse Shear Stress</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Transverse Shear</li>
				<li>Shear Flow</li>
			</ul>
			</td>
			<td>
			<p>Homework 8</p>
			</td>
			<td>
			<p>Quiz 4</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>6: Combined Loading</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Pressure Vessels</li>
				<li>Combined Loading</li>
			</ul>
			</td>
			<td>
			<p>Homework 9</p>
			</td>
			<td>
			<p>Quiz 5</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>6: Stress Transformation</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Stress Transformation</li>
				<li>Theories of Failure</li>
			</ul>
			</td>
			<td>
			<p>Homework 10 and&nbsp;11</p>
			</td>
			<td>
			<p>Quiz 6</p>
			</td>
		</tr>
		<tr>
			<th>
			<p><em>7: Deformation in beams</em></p>
			</th>
			<td>
			<ul align="left" class="disc">
				<li>Deflection in Beams - Integration Methods</li>
				<li>Deflection in Beams - Superposition Methods</li>
				<li>Buckling</li>
			</ul>
			</td>
			<td>
			<p>Homework 12 and 13</p>
			</td>
			<td>
			<p>Final exam</p>
			</td>
		</tr>
	</tbody>
</DisplayTable>
</SubSection>
</Layout>

