---
import Section from '../components/Section.astro';
import SubSection from '../components/SubSection.astro';
import Searchbar from '../components/Searchbar.astro';
import Image from '../components/Image.astro';
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
import Layout from '../layouts/Layout.astro';
import DisplayTable from '../components/DisplayTable.astro';
---

<style>
	.img-grid{
		margin-bottom: 2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.img-item{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: .5rem;
	}

	.img-item > img{
		max-height: 250px;
	}

	.img-item > img[professor]{
		max-height: 350px;
	}



</style>

<Layout title="TAM 251 -  24">
    <SubSection id="instructor" title="Instructor"></SubSection>

	<div class="img-grid">
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/GoleckiTom.jpg" professor />
			<p>Tom Golecki</p>
		</div>
	</div>

	<SubSection id="tas" title="Teaching Assistants"></SubSection>

	<div class="img-grid">
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/EzekielHsieh.jpg" />
			<p>Ezekiel Hsieh</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/JunrenRan.jpg" />
			<p>Junren Ran</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/PrantoKarua2.jpg" />
			<p>Pranto Karua</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/TaewooKim.jpg" />
			<p>Taewoo Kim</p>
		</div>
	</div>

	<SubSection id="cas" title="Course Assistants"></SubSection>

	<div class="img-grid">
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/AlejandraPalafox2.jpg" />
			<p>Alejandra Palafox</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/Chris.jpg" />
			<p>Chris Raymond-Bertrand</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/GarrettSigrist.jpg" />
			<p>Garrett Sigrist</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/MaximusEhrlich.jpg" />
			<p>Maximus Ehrlich</p>
		</div>
		<div class="img-item">
			<img src="http://courses.grainger.illinois.edu/tam251/fa2024/photos/MichaelWalczuk.jpg" />
			<p>Michael Walczuk</p>
		</div>
	</div>
	
</Layout>