---
import Section from '../components/Section.astro';
import SubSection from '../components/SubSection.astro';
import Searchbar from '../components/Searchbar.astro';
import Image from '../components/Image.astro';
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
import Layout from '../layouts/Layout.astro';
import DisplayTable from '../components/DisplayTable.astro';
---

<Layout title="TAM 251 - Spring 25">
    <h3><strong><a id="Policies" name="Policies">TAM 2XX Course Policies</a>:</strong></h3>

	<p>This course uses the same policies as TAM 210/211:
		<a href="https://courses.grainger.illinois.edu/tam210/sp2025/policies.html"> 
			https://courses.grainger.illinois.edu/tam210/sp2025/policies.html<a/> </p>
</Layout>