---
import Section from '../components/Section.astro';
import SubSection from '../components/SubSection.astro';
import Searchbar from '../components/Searchbar.astro';
import Image from '../components/Image.astro';
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
import Layout from '../layouts/Layout.astro';
import DisplayTable from '../components/DisplayTable.astro';
---

<style>
	tr.oddWeek > td{
		background-color: var(--bs-table-striped-bg);
	}

	td{
		display: table-cell;
		vertical-align: middle;
		unicode-bidi: isolate;
	}

	p{
		display: block;
	}
</style>

<Layout title="TAM 251 - Spring 25">
    <ul style="text-align: left">
		<li>All due dates are at 11:59pm on the given date.</li>
		<li>All start dates are at 00:01am on the given date.</li>
	</ul>
	
	<DisplayTable id="main-table" class_="table striped schedule first-bordered" override="true">
		<thead>
			<tr>
				<th>Week</th>
				<th>Day</th>
				<th>Date</th>
				<th>Lecture</th>
				<th>Discussion</th>
				<th>Assignment Due Dates</th>
				<th>Quiz</th>
			</tr>
		</thead>
		<tbody>
			
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">1</td>
				<td>M</td>
				<td>Aug 26</td>
				<td>Lecture 00</td>
				<td rowspan="5">
				<span>
					<p><a href="https://uofi.box.com/s/fuzgb07pafusff65hy20crph1q522zze">WS #1: Introduction and Review of Statics</a></p>
	
					<p><a href="https://uofi.box.com/s/5b96t6vi0k682wulnrh3f332nd9qucrf"><u>Solution</u></a></p>
				</span>
				
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Aug&nbsp;27</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Aug&nbsp;28</td>
				<td>Lecture 01</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Aug&nbsp;29</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Aug 30</td>
				<td>Lecture 02</td>
				<td>HW0: Statics review</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Aug 31</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Sep 01</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">2</td>
				<td>M</td>
				<td>Sep 02</td>
				<td>Labor Day (No Lecture)</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/xqzxcera7wud1eam0pn7h3sep6k11c9j">WS #2: Elbow Joint</a></p>
	
				<p><a href="https://uofi.box.com/s/16orc2mdizuja9flr7dmeesq3nh9ht4s"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Sep 03</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Sep 04</td>
				<td>Lecture 03</td>
				<td>HW1: Stress</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Sep 05</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Sep 06</td>
				<td>Lecture 04</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Sep 07</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Sep 08</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">3</td>
				<td>M</td>
				<td>Sep 09</td>
				<td>Lecture 05</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/i0jlmzclvzm9divgdshtvzis3v4sgc6y">WS #3: Tailgate</a></p>
	
				<p><a href="https://uofi.box.com/s/jfo8da1oxc289ztc34laeuhfoihqlpyd"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Sep 10</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Sep 11</td>
				<td>Lecture 06</td>
				<td>HW2: Strain</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Sep 12</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 1</p>
				</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Sep 13</td>
				<td>No Lecture</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Sep 14</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Sep 15</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">4</td>
				<td>M</td>
				<td>Sep 16</td>
				<td>Lecture 07</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/vgld9zm3rfbpp5vlipseqamltzbv7a1l">WS #4: Bridge</a></p>
	
				<p><a href="https://uofi.box.com/s/yqyljbl1fzk7az55xzjn03h9ba3abxny"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Sep 17</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Sep 18</td>
				<td>Lecture 08</td>
				<td>HW3:&nbsp;Material properties + Axial loading - part 1</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Sep 19</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 1&nbsp; Retake</p>
				</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Sep 20</td>
				<td>Lecture 09</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Sep 21</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td style="white-space: nowrap;">&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td style="white-space: nowrap;">U</td>
				<td>Sep 22</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">5</td>
				<td>M</td>
				<td>Sep 23</td>
				<td>Lecture 10</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/6o45bq4e5nph3a9gyhqhfgc194w0bw3w">WS #5: Wind Turbine</a></p>
	
				<p><a href="https://uofi.box.com/s/e5ltrorzms5u8gvhe7krsy6lxel0c59w"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Sep 24</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Sep 25</td>
				<td>Lecture 11</td>
				<td>HW4:<span style="white-space:pre"> </span>Axial loading - part 2</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Sep 26</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">Quiz 2</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Sep 27</td>
				<td>No Lecture</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Sep 28</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Sep 29</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">6</td>
				<td>M</td>
				<td>Sep 30</td>
				<td>
				<p>Lecture 12</p>
				</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/watbkyu1h6ahth5l4rz4c7knvbbvo2d3">WS #6: Torsion Bar</a></p>
	
				<p><a href="https://uofi.box.com/s/c1nttpaymxefcx9hom7zvjvkg6fb9y6u"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Oct 01</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Oct 02</td>
				<td>Lecture 13</td>
				<td>HW5:<span style="white-space:pre"> </span>Torsion - Part 1</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Oct 03</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 2&nbsp; Retake</p>
				</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Oct 04</td>
				<td>Lecture 14</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Oct 05</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Oct 06</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">7</td>
				<td>M</td>
				<td>Oct 07</td>
				<td>Lecture 15</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/i93kyt3kz76i2wsjynhm9egqugxriznr">WS #7: Internal forces statics review</a></p>
	
				<p><a href="https://uofi.box.com/s/axarjwpu5gq1pnek6iikutzkpnp5am30"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Oct 08</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Oct 09</td>
				<td>Lecture 16</td>
				<td>HW6:<span style="white-space:pre"> </span>Torsion - Part 2</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Oct 10</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">Quiz 3</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Oct 11</td>
				<td>No Lecture</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Oct 12</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Oct 13</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">8</td>
				<td>M</td>
				<td>Oct 14</td>
				<td>Lecture 17</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/nted0795ervd7q9z66bzfq9jbumx53ht">WS #8: Bicycle!</a></p>
	
				<p><a href="https://uofi.box.com/s/gmq87geaffcmp1uxhr9osgck9u2iwhjm"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Oct 15</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Oct 16</td>
				<td>Lecture 18</td>
				<td>HW7:<span style="white-space:pre"> </span>Beams in bending</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Oct 17</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 3&nbsp; Retake</p>
				</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Oct 18</td>
				<td>
				<p>Lecture 19</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Oct 19</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Oct 20</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">9</td>
				<td>M</td>
				<td>Oct 21</td>
				<td>Lecture 20</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/ci0ut3jyfpcfnlk7f6gyy8x9snjre2eh">WS #9: Boom Crane</a></p>
	
				<p><a href="https://uofi.box.com/s/tqhzzypmp9kpc2x6lkwed1deswmo67gu"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Oct 22</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Oct 23</td>
				<td>
				<p>Lecture 21</p>
				</td>
				<td>HW8:<span style="white-space:pre"> </span>Transverse shear stress</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Oct 24</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">Quiz 4</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Oct 25</td>
				<td>Lecture 22</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Oct 26</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Oct 27</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">10</td>
				<td>M</td>
				<td>Oct 28</td>
				<td>(No Lecture)</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/dwtae9zbotqj5tz06k50l2itp1tngwg5">WS #10: Beam Design</a></p>
	
				<p><a href="https://uofi.box.com/s/t0g0lchvrzzueo6rzgh1dn4yoqubwjio"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Oct 29</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Oct 30</td>
				<td>Lecture 23</td>
				<td>HW9:<span style="white-space:pre"> </span>Combined loading</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Oct 31</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 4&nbsp; Retake</p>
				</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Nov 01</td>
				<td>Lecture 24</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Nov 02</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Nov 03</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">11</td>
				<td>M</td>
				<td>Nov 04</td>
				<td>Lecture 25</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/3yxrx8zk7q6mj6s3fcudijlxdpo8m7n5">WS #11: Pipe System</a></p>
	
				<p><a href="https://uofi.box.com/s/kydonpxi73qjttj8sbzht6jilyr3wxmg"><u>Solution</u></a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Nov 05</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Nov 06</td>
				<td>Lecture 26</td>
				<td>HW10:<span style="white-space:pre"> </span>Stress transformation</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Nov 07</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">Quiz 5</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Nov 08</td>
				<td>No Lecture</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Nov 09</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Nov 10</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">12</td>
				<td>M</td>
				<td>Nov 11</td>
				<td>&nbsp;</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/zgtwj7eboynxjuksehq1syf4wpbl2her">WS #12: Mohr&#39;s Circle</a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Nov 12</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Nov 13</td>
				<td>&nbsp;</td>
				<td>HW11:<span style="white-space:pre"> </span>Failure criteria and deflection in beams - Part 1</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Nov 14</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 5&nbsp; Retake</p>
				</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Nov 15</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Nov 16</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Nov 17</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">13</td>
				<td>M</td>
				<td>Nov 18</td>
				<td>&nbsp;</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/5ozkswiv5qvtxtj1whxdpt6ykyxf4i39">WS #13: Tongs</a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Nov 19</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Nov 20</td>
				<td>&nbsp;</td>
				<td>HW12:<span style="white-space:pre"> </span>Deflection in beams - Part 2</td>
				<td colspan="1" rowspan="3">Quiz 6</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Nov 21</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Nov 22</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Nov 23</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Nov 24</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">14</td>
				<td>M</td>
				<td>Nov 25</td>
				<td colspan="1" rowspan="5"><strong>Fall Break</strong></td>
				<td rowspan="5">
				<p>&nbsp;</p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Nov 26</td>
				<td>
				<p>&nbsp;</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Nov 27</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Nov 28</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Nov 29</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Nov 30</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Dec 01</td>
				<td>&nbsp;&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td rowspan="7">15</td>
				<td>M</td>
				<td>Dec 02</td>
				<td>&nbsp;</td>
				<td rowspan="5">
				<p><a href="https://uofi.box.com/s/6k0sxur7r7no0i34dt2o7u291uahxuc9">WS #14: Guitar</a></p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Dec 03</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Dec 04</td>
				<td>&nbsp;</td>
				<td>HW13:<span style="white-space:pre"> </span>Buckling</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Dec 05</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>Quiz 6&nbsp; Retake</p>
				</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Dec 06</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Dec 07</td>
				<td rowspan="2">&nbsp;</td>
				<td rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Dec 08</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="evenWeek">
				<td rowspan="7">16</td>
				<td>M</td>
				<td>Dec 09</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="3">
				<p>&nbsp;</p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>T</td>
				<td>Dec 10</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>W</td>
				<td>Dec 11</td>
				<td>
				<p>Last Day of Office Hours</p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>R</td>
				<td>Dec 12</td>
				<td>Reading day</td>
				<td>
				<p>Last Day to Dispute Grades</p>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>F</td>
				<td>Dec 13</td>
				<td colspan="1" rowspan="8">Final Exam</td>
				<td>&nbsp;</td>
				<td colspan="1" rowspan="8">
				<p>&nbsp;</p>
	
				<p>FINAL EXAM</p>
	
				<p>&nbsp;</p>
				</td>
				<td rowspan="8">&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>S</td>
				<td>Dec 14</td>
				<td rowspan="2">&nbsp;</td>
			</tr>
			<tr class="evenWeek">
				<td>U</td>
				<td>Dec 15</td>
			</tr>
			<!-- ###################################################################### -->
			<tr class="oddWeek">
				<td colspan="1" rowspan="8">17</td>
				<td>M</td>
				<td>Dec 16</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>T</td>
				<td>Dec 17</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>W</td>
				<td>Dec 18</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>R</td>
				<td>Dec 19</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>F</td>
				<td>Dec 20</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>S</td>
				<td>Dec 21</td>
				<td colspan="1" rowspan="2">&nbsp;</td>
				<td colspan="1" rowspan="2">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="oddWeek">
				<td>U</td>
				<td>Dec 22</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</DisplayTable>
	
	
</Layout>