---
import Section from '../components/Section.astro';
import SubSection from '../components/SubSection.astro';
import Searchbar from '../components/Searchbar.astro';
import Image from '../components/Image.astro';
import Row from '../components/Row.astro';
import Col from '../components/Col.astro';
import Layout from '../layouts/Layout.astro';
import DisplayTable from '../components/DisplayTable.astro';
---


<Layout title="TAM 251 - Spring 25">
    <ul style="text-align: left">
		<li>All due dates are at 11:59pm on the given date.</li>
		<li>All start dates are at 00:01am on the given date.</li>
	</ul>
	
	<DisplayTable id="main-table" class_="table striped schedule first-bordered" override="true">
		<thead>
			<tr>
				<th>Week</th>
				<th>Day</th>
				<th>Date</th>
				<th>Lecture</th>
				<th>Quiz</th>
				<th>Assignment Due Dates</th>
				<th>Discussion</th>
			</tr>
		</thead>
		
			<tbody>
				<!-- ###################################################################### -->
				<tr class="oddWeek">
					<td>1</td>
					<td>M</td>
					<td>Jan 20</td>
					<td style="width: 200px;">
					<p><span style="color:rgb(0, 128, 0)"><em><strong>MLK Holiday - no class</strong></em></span></p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet01.pdf" target="_blank">WS #1: Introduction and Review of Statics</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet01_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>1</td>
					<td>W</td>
					<td>Jan 22</td>
					<td>
					<p>Intro/statics review</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>1</td>
					<td>F</td>
					<td>Jan 24</td>
					<td>
					<p>Stress</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #0: Statics review</td>
				</tr>
				<!-- ###################################################################### -->
				<tr class="evenWeek">
					<td>2</td>
					<td>M</td>
					<td>Jan 27</td>
					<td>
					<p>Stress</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet02.pdf" target="_blank">WS #2: Elbow Joint</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet02_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>2</td>
					<td>W</td>
					<td>Jan 29</td>
					<td>
					<p>Stress/strain</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>2</td>
					<td>F</td>
					<td>Jan 31</td>
					<td>
					<p>Strain</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #1: Stress</td>
				</tr>
				<tr class="oddWeek">
					<td>3</td>
					<td>M</td>
					<td>Feb 3</td>
					<td>
					<p>Material properties</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet03.pdf" target="_blank">WS #3: Tailgate</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet03_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>3</td>
					<td>W</td>
					<td>Feb 5</td>
					<td>
					<p>Material properties</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #2: Strain</td>
				</tr>
				<tr class="oddWeek">
					<td>3</td>
					<td>F</td>
					<td>Feb 2</td>
					<td>
					<p><em style="color:rgb(0, 128, 0)"><strong>No lecture: In-class quiz session</strong></em></p>
					<!--
						<p><a href="/tam251/fa2020/secure/TAM251_Chapter4_AxialLoad_prelecture_Mercer.pdf">Axial Loading&nbsp;prelecture</a></p>
						--></td>
					<td>
					<p><font color="red"><strong>Quiz 1: Stress/Strain (HW 1 and 2)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></font></p>
					</td>
					<td>&nbsp;</td>
				</tr>
				<!-- ###################################################################### -->
				<tr class="evenWeek">
					<td>4</td>
					<td>M</td>
					<td>Feb 10</td>
					<td>
					<p>Axial loading</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet04.pdf" target="_blank">WS #4: Bridge</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet04_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>4</td>
					<td>W</td>
					<td>Feb 7</td>
					<td>
					<p>Axial loading</p>
					</td>
					<td>&nbsp;</td>
					<td style="text-align: center;">HW #3: Material properties and axial loading - Part 1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>4</td>
					<td>F</td>
					<td>Feb 14</td>
					<td>
					<p>Axial loading</p>
					</td>
					<td><strong style="color:rgb(255, 0, 0)">Quiz 1 retry&nbsp; &nbsp;&nbsp;</strong></td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>5</td>
					<td>M</td>
					<td>Feb 12</td>
					<td>
					<p>Axial loading</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet05-Python.pdf" target="_blank">WS #5: Wind Turbine</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet05-Python_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>5</td>
					<td>W</td>
					<td>Feb 19</td>
					<td>
					<p>Torsion</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #4: Axial loading - Part 2</td>
				</tr>
				<tr class="oddWeek">
					<td>5</td>
					<td>F</td>
					<td>Feb 21</td>
					<td>
					<p><em style="color:rgb(0, 128, 0)"><strong>No lecture: In-class quiz session</strong></em></p>
					</td>
					<td>
					<p><font color="red"><strong>Quiz 2: Material Properties/Axial Loading (HW 3 and 4)</strong></font></p>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>6</td>
					<td>M</td>
					<td>Feb 24</td>
					<td>
					<p>Torsion</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet06.pdf" target="_blank">WS #6: Torsion Bar</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet06_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>6</td>
					<td>W</td>
					<td>Feb 26</td>
					<td>
					<p>Torsion</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #5: Torsion - Part 1</td>
				</tr>
				<tr class="evenWeek">
					<td>6</td>
					<td>F</td>
					<td>Mar 4</td>
					<td>
					<p>Shear/moment diagrams<br />
					&nbsp;</p>
					</td>
					<td><strong style="color:rgb(255, 0, 0)">Quiz 2 retry&nbsp; &nbsp;&nbsp;</strong></td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>7</td>
					<td>M</td>
					<td>
					<p>Mar 2&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
					</td>
					<td>
					<p>Beams in bending</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet07.pdf" target="_blank">WS #7: Internal forces statics review</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet07_Solution.pdf" target="_blank">Solution</a></p>
		
					<p>&nbsp;</p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>7</td>
					<td>W</td>
					<td>Feb 178</td>
					<td>
					<p>Beams in bending</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #6: Torsion - Part 2</td>
				</tr>
				<tr class="oddWeek">
					<td>7</td>
					<td>F</td>
					<td>Mar 1</td>
					<td>
					<p><em style="color:rgb(0, 128, 0)"><strong>No lecture: In-class quiz session</strong></em></p>
					<!--
						<p><a href="/tam251/fa2020/secure/Lecture19.pdf">Lecture19</a></p>
						<p><a href="/tam251/fa2020/secure/tbeam.m">Matlab code for T-beam example</a></p>
						--></td>
					<td>
					<p><strong style="color:rgb(255, 0, 0)">Quiz 3: Torsion&nbsp; (HW 5 and 6)</strong></p>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>8</td>
					<td>M</td>
					<td>Mar 9</td>
					<td>
					<p>Beams in bending</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet08.pdf" target="_blank">WS #8: Bicycle!</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet08_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>8</td>
					<td>W</td>
					<td>Mar 6</td>
					<td>
					<p>Transverse shear</p>
					</td>
					<td><strong style="color:rgb(255, 0, 0)">Quiz 3 retry: WED through FRI</strong></td>
					<td>HW #7: Normal stress in beams</td>
				</tr>
				<tr class="evenWeek">
					<td>8</td>
					<td>F</td>
					<td>Mar 13</td>
					<td>
					<p>Transverse shear</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>9</td>
					<td>M</td>
					<td>Mar 11</td>
					<td>
					<p><em><strong><span style="color:#006400">Spring break- no class</span></strong></em></p>
					<!--
						<p><a href="/tam251/fa2020/secure/Lecture24-complete-example.pdf">Completed built-up beam example</a></p>
						<p><a href="/tam251/fa2020/secure/Lecture24-extra-example.pdf">Extra built-up beam example</a></p>
						--></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p>&nbsp;</p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>9</td>
					<td>W</td>
					<td>Mar 23</td>
					<td>
					<p><em><strong><span style="color:#006400">Spring break - no class</span></strong></em></p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>9</td>
					<td>F</td>
					<td>Mar 20</td>
					<td>
					<p><em><strong><span style="color:#006400">Spring break - no class</span></strong></em></p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>10</td>
					<td>M</td>
					<td>Mar 168</td>
					<td>
					<p>Transverse shear</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet09.pdf" target="_blank">WS #9: Boom Crane</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet09_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>10</td>
					<td>W</td>
					<td>Mar 25</td>
					<td>
					<p>Pressure Vessels</p>
					</td>
					<td>&nbsp;</td>
					<td>
					<p>HW #8: Transverse shear</p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>10</td>
					<td>F</td>
					<td>Mar 27</td>
					<td>
					<p><em style="color:rgb(0, 128, 0)"><strong>No lecture: In-class quiz session</strong></em></p>
					</td>
					<td><strong style="color:rgb(255, 0, 0)">Quiz 4: Normal stress in beams&nbsp;and transverse Shear (HW 7 and 8)</strong></td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>11</td>
					<td>M</td>
					<td>Mar 30</td>
					<td>
					<p>Combined loading</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet10.pdf" target="_blank">WS #10: Beam Design</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet10_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>11</td>
					<td>W</td>
					<td>Apr 1</td>
					<td>
					<p>Combined loading</p>
					</td>
					<td>&nbsp;</td>
					<td>No HW due :)</td>
				</tr>
				<tr class="oddWeek">
					<td>11</td>
					<td>F</td>
					<td>Apr 3</td>
					<td>
					<p>Stress transformation</p>
					<!--
						<p><a href="/tam251/fa2020/secure/TAM251_Chapter10_FailureTheories_prelecture_Mercer.pdf">Failure theories&nbsp;prelecture</a></p>
						--></td>
					<td>
					<p><strong style="color:rgb(255, 0, 0)">Quiz 4 retry&nbsp;</strong></p>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>12</td>
					<td>M</td>
					<td>Apr 1</td>
					<td>
					<p>Stress transformation</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet11.pdf" target="_blank">WS #11: Pipe System</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>12</td>
					<td>W</td>
					<td>Apr 8</td>
					<td>
					<p>Stress transformation</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #9: Combined loading</td>
				</tr>
				<tr class="evenWeek">
					<td>12</td>
					<td>F</td>
					<td>Apr 10</td>
					<td>
					<p><span style="color:rgb(0, 128, 0)"><em><strong>No class (Engineering Open House)</strong></em></span></p>
					</td>
					<td><strong style="color:rgb(255, 0, 0)">Quiz 5 (CBTF): Combined loading (HW 9)</strong></td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>13</td>
					<td>M</td>
					<td>Apr 13</td>
					<td>
					<p><em style="color:rgb(0, 128, 0)"><strong>No lecture: In-class quiz 5 session</strong></em></p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet11.pdf" target="_blank">WS #11: Pipe System(continued)</a></p>
		
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet11_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="oddWeek">
					<td>13</td>
					<td>W</td>
					<td>Apr 15</td>
					<td>
					<p>Failure Theories</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #10: Stress transformation and failure criteria</td>
				</tr>
				<tr class="oddWeek">
					<td>13</td>
					<td>F</td>
					<td>Apr 17</td>
					<td>
					<p>Failure Theories</p>
					</td>
					<td>
					<p><strong style="color:rgb(255, 0, 0)">Quiz 5 retry&nbsp;</strong></p>
					</td>
					<td>&nbsp;</td>
				</tr>
				<!-- ###################################################################### --><!-- ###################################################################### -->
				<tr class="evenWeek">
					<td>14</td>
					<td>M</td>
					<td>Apr 20</td>
					<td>
					<p>Beam deflection</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<!--<td colspan="1" rowspan="3">WS #14: Guitar</td>-->
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet12.pdf" target="_blank">WS #12: Mohr&#39;s Circle</a></p>
								<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet12_Solution.pdf" target="_blank">Solution</a></p>
					</td>
				</tr>
				<tr class="evenWeek">
					<td>14</td>
					<td>W</td>
					<td>Apr 22</td>
					<td>
					<p>Beam deflection</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="evenWeek">
					<td>14</td>
					<td>F</td>
					<td>Apr 69</td>
					<td>
					<p><em style="color:rgb(0, 128, 0)"><strong>No lecture: In-class quiz session</strong></em></p>
					</td>
					<td>
					<p><strong style="color:rgb(255, 0, 0)">Quiz 6: Stress transformation and failure theories</strong></p>
					</td>
					<td>&nbsp;</td>
				</tr>
				<!-- ###################################################################### -->
				<tr class="oddWeek">
					<td>15</td>
					<td>M</td>
					<td>Apr 27</td>
					<td>
					<p>Beam deflection</p>
					</td>
					<td>&nbsp;</td>
					<td>HW #11: Beams Deflection - Part 1</td>
					<td colspan="1" rowspan="3">
					<p><a href="http://courses.grainger.illinois.edu/tam251/sp2024/secure/worksheets-archive/Worksheet13.pdf" target="_blank">WS #13: Tongs</p>
					</td>
					<!--<td colspan="1" rowspan="3">WS #13: Guitar</td>-->
				</tr>
				<tr class="oddWeek">
					<td>15</td>
					<td>W</td>
					<td>Apr 29</td>
					<td>
					<p>Beam deflection</p>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr class="oddWeek">
					<td>15</td>
					<td>F</td>
					<td>May 1</td>
					<td>
					<p>Beam deflection</p>
					</td>
					<td><strong style="color:rgb(255, 0, 0)">Quiz 6 retry&nbsp; &nbsp;&nbsp;</strong></td>
					<td>HW #12: Beams Deflection - Part 2</td>
				</tr>
				<tr>
					<td>16</td>
					<td>M</td>
					<td>May 4</td>
					<td>Buckling</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1"><em>no discussion</em></td>
				</tr>
				<tr>
					<td>16</td>
					<td>W</td>
					<td>May 6</td>
					<td>Buckling/Review</td>
					<td>&nbsp;</td>
					<td>HW #13: Buckling</td>
					<td colspan="1"><em>no discussion</em></td>
				</tr>
				<tr>
					<td>16</td>
					<td>F</td>
					<td>May 8</td>
					<td><strong style="color:rgb(0, 128, 0)"><em>No Class</em></strong></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="1">&nbsp;</td>
				</tr>
				<!-- ###################################################################### -->
			</tbody>
	</DisplayTable>
	
	
</Layout>